<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>61484551055-db95n5muj34icv8a7tocner1r056l352.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.61484551055-db95n5muj34icv8a7tocner1r056l352</string>
	<key>API_KEY</key>
	<string>AIzaSyBcSQdeCMIBCyfFibfY-WnQzq8uZAaXtWs</string>
	<key>GCM_SENDER_ID</key>
	<string>61484551055</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.masterthesis</string>
	<key>PROJECT_ID</key>
	<string>masterthesis-c4c60</string>
	<key>STORAGE_BUCKET</key>
	<string>masterthesis-c4c60.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:61484551055:ios:a8f0c1d834f609fbf819fa</string>
	<key>DATABASE_URL</key>
	<string>https://masterthesis-c4c60.firebaseio.com</string>
</dict>
</plist>